@import url("https://fonts.googleapis.com/css?family=Outfit:400,700");
@import "../../styleguide.css";

body{
    margin: 0;
    padding: 0;
}

.screen a {
    display: contents;
    text-decoration: none;
}

.container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
}

.container-center-horizontal > * {
    flex-shrink: 0;
    pointer-events: auto;
}

.washingList {
    align-items: center;
    background-color: #24293e;
    border: 1px none;
    display: flex;
    flex-direction: column;
    height: 1200px;
    padding: 20px 18px;
    width: 390px;
}

.washingList-1 {
    display: flex;
    flex-direction: column;
    min-height: 378px;
    width: 370px;
}

.subtitle1 {
    color: var(--white);
    font-family: var(--font-family-outfit);
    font-size: var(--font-size-m2);
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    min-height: 26px;
    white-space: nowrap;
}

.smallBoxWL {
    align-items: center;
    background-color: #2F3855;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    min-height: 100px;
    padding: 18px 14px;
    width: 343px;
}

.selectMachine {
    align-self: flex-start;
    color: var(--white);
    font-family: var(--font-family-outfit);
    font-size: var(--font-size-s);
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    min-height: 20px;
    width: 180px;  
}

.rowHiddenWL {
    display: flex;
    align-items: center;
    align-self: center;
}

.rowHiddenAdd {
    display: flex;
    align-items: center;
}

.logoWashingWL {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.timerWL {
    font-family: var(--font-family-outfit);
    font-size: var(--font-size-s);
    color: var(--white);
    font-weight: 600;
}

.estTime {
    font-family: var(--font-family-outfit);
    font-size: var(--font-size-s);
    color: var(--white);
    font-weight: 400;
}

.buttonAddW {
    align-items: center;
    background-color: var(--hippie-pink);
    border-radius: 20px;
    border: var(--hippie-pink);
    box-shadow: 3px 4px 10px #00000040;
    display: block;
    height: 40px;
    margin-top: 20px;
    width: 180px;
}

.washingButtonWL {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: var(--hippie-pink);
    border-radius: 10px;
    border: var(--hippie-pink);
    box-shadow: 3px 4px 10px #00000040;
    display: flex;
    height: 190px;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    width: 165px;
}

.washingButtonWL:hover,
.buttonAddW:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 6px #6c00344c;
  }
  
.washingButtonWL:active,
.buttonAddW:active {
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.buttonInfoWL{
    font-family: var(--font-family-outfit);
    font-size: var(--font-size-s);
    color: var(--white);
    font-weight: 700;
    margin-top: 5px;  
}

.buttonInfoAdd{
    font-family: var(--font-family-outfit);
    font-size: var(--font-size-m2);
    color: var(--white);
    font-weight: 700;
    line-height: normal;
}


